AcceptEnv LANG LC_*
AddressFamily any
AllowAgentForwarding yes
AllowTcpForwarding yes
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
HostbasedAuthentication no
HostKey /etc/ssh/ssh_host_ed25519_key
IgnoreRhosts yes
KexAlgorithms curve25519-sha256@libssh.org
ListenAddress ::1
ListenAddress 127.0.0.1
LoginGraceTime 30
LogLevel VERBOSE
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
MaxAuthTries 3
PasswordAuthentication no
PermitRootLogin prohibit-password
PermitUserEnvironment no
Port 2200
PrintMotd no
Protocol 2
PubkeyAuthentication yes
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
X11Forwarding no
